/**
|--------------------------------------------------
| VARIABLES <START>
|--------------------------------------------------
*/
/**
|--------------------------------------------------
| VARIABLES <END>
|--------------------------------------------------
*/
/**
|--------------------------------------------------
| ANIMATIONS <START>
|--------------------------------------------------
*/
[data-aos="fade-in-up"] {
  opacity: 0;
  transform: translateY(1rem);
  transition-property: opacity, transform;
  transform-origin: 0 100%; }
  [data-aos="fade-in-up"].aos-animate {
    opacity: 0;
    transform: translateY(0); }

[data-aos="line-before"] {
  width: 0;
  transition-property: width; }
  [data-aos="line-before"].aos-animate {
    width: calc(100% - .9rem); }

[data-aos="line-after"] {
  opacity: 0;
  transform: translate(-0.8rem); }
  [data-aos="line-after"].aos-animate {
    opacity: 1;
    transform: translate(0rem); }

[data-aos="clip-path--left"] {
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  transform: scaleX(0.85);
  transform-origin: left; }
  [data-aos="clip-path--left"].aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scaleX(1); }

[data-aos="clip-path--right"] {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  transform: scaleX(0.85);
  transform-origin: right; }
  [data-aos="clip-path--right"].aos-animate {
    transform: scaleX(1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom2 {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/**
|--------------------------------------------------
| ANIMATIONS <END>
|--------------------------------------------------
*/
@font-face {
  font-family: 'MTTMilano';
  src: url("../fonts/MTTMilano-Regular.eot");
  src: local("MTTMilano Regular"), local("MTTMilano-Regular"), url("../fonts/MTTMilano-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MTTMilano-Regular.woff") format("woff"), url("../fonts/MTTMilano-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MTTMilano';
  src: url("../fonts/MTTMilano-Medium.eot");
  src: local("MTTMilano Medium"), local("MTTMilano-Medium"), url("../fonts/MTTMilano-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MTTMilano-Medium.woff") format("woff"), url("../fonts/MTTMilano-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MTTMilano';
  src: url("../fonts/MTTMilano-Bold.eot");
  src: local("MTTMilano Bold"), local("MTTMilano-Bold"), url("../fonts/MTTMilano-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MTTMilano-Bold.woff") format("woff"), url("../fonts/MTTMilano-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }

body {
  font-family: "MTTMilano", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eae8eb;
  background-color: #07073d;
  min-height: 100vh; }

.test {
  font-size: 1.6rem;
  font-weight: 400; }

/**
|--------------------------------------------------
|  Global
|--------------------------------------------------
*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.container {
  width: 100%;
  max-width: 81.8rem; }

/**
|--------------------------------------------------
|  Header
|--------------------------------------------------
*/
.header {
  padding: 10rem 4.5rem;
  position: relative;
  background: linear-gradient(to bottom right, rgba(7, 7, 61, 0.8), rgba(7, 7, 61, 0.4)); }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 15rem 3.5rem; } }
  .header__container {
    margin: auto;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 62.5em) {
      .header__container {
        width: 82%; } }
    @media only screen and (max-width: 37.5em) {
      .header__container {
        width: 100%; } }

/**
|--------------------------------------------------
|  About
|--------------------------------------------------
*/
.about {
  padding: 15rem 4.5rem 16.5rem; }
  @media only screen and (max-width: 43.75em) {
    .about {
      padding: 13rem 3.5rem 12rem; } }

/**
|--------------------------------------------------
|  Work
|--------------------------------------------------
*/
.work {
  padding: 15rem 4.5rem 14.9rem;
  background-color: #fff;
  color: black; }
  @media only screen and (max-width: 43.75em) {
    .work {
      padding: 12rem 1.5rem 12rem; } }
  @media only screen and (max-width: 31.25em) {
    .work {
      padding: 12rem 1.5rem 12rem; } }
  .work__container {
    max-width: 95rem; }
  .work__item:not(:last-child) {
    margin-bottom: 10rem; }

/**
|--------------------------------------------------
|  Contact
|--------------------------------------------------
*/
.contact {
  padding: 10rem 4.5rem 1.5rem; }
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/**
|--------------------------------------------------
| REUSABLE COMPONENTS <START>
|--------------------------------------------------
*/
.main-title__wrapper {
  position: relative;
  display: inline-block; }

.main-title__inner {
  font-size: 6rem;
  font-weight: 400;
  line-height: 100%;
  position: relative;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .main-title__inner {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .main-title__inner {
      font-size: 3rem; } }

.main-title__animation {
  position: absolute;
  height: .4rem;
  bottom: -1.4rem;
  background-color: currentColor; }
  .main-title__animation-before {
    left: 0;
    border-radius: .15rem; }
  .main-title__animation-after {
    width: .45rem;
    border-radius: 40%;
    right: 0; }

.btn-primary:link, .btn-primary:visited {
  padding: 1.3rem 6rem;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
  background-size: 250%;
  transition: all .4s; }
  @media only screen and (max-width: 37.5em) {
    .btn-primary:link, .btn-primary:visited {
      font-size: 2rem;
      padding: 1.2rem 5rem; } }

.btn-primary--light {
  color: #eae8eb;
  border: 1px solid #eae8eb;
  background-image: linear-gradient(38deg, transparent 0%, transparent 50%, #eae8eb 50%); }
  .btn-primary--light:hover {
    background-position: 100%;
    color: #07073d; }

.btn-primary--dark {
  color: black;
  border: 1px solid black;
  background-image: linear-gradient(70deg, transparent 0%, transparent 50%, black 50%); }
  .btn-primary--dark:hover {
    background-position: 100%;
    color: #fff;
    fill: #fff; }

.btn-primary--animated {
  animation: moveInBottom .8s ease-out .9s 1 backwards; }

.btn-secondary:link, .btn-secondary:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #eae8eb;
  transition: color .2s ease-in-out .05s;
  line-height: 100%; }

.btn-secondary::before, .btn-secondary::after {
  content: "";
  position: absolute;
  height: .2rem;
  bottom: -.6rem;
  background-color: #eae8eb; }

.btn-secondary::before {
  left: 0;
  width: 0;
  border-radius: .1rem;
  transition: width .2s ease-in-out .05s; }

.btn-secondary::after {
  height: .22rem;
  width: .25rem;
  border-radius: 40%;
  right: 0;
  opacity: 0;
  transform: translate(-0.8rem);
  transition: opacity 0s linear .2s, transform .05s ease-out .18s; }

.btn-secondary:hover {
  color: #ff919f; }
  .btn-secondary:hover::before {
    background-color: #ff919f;
    width: calc(100% - .6rem); }
  .btn-secondary:hover::after {
    opacity: 1;
    transform: translate(0rem);
    background-color: #ff919f; }

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/**
|--------------------------------------------------
| REUSABLE COMPONENTS <END>
|--------------------------------------------------
*/
/**
|--------------------------------------------------
| PAGE COMPONENTS <START>
|--------------------------------------------------
*/
.header__title {
  height: 30rem;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .header__title {
      margin-right: auto;
      margin-left: auto;
      width: 410px;
      height: 27rem; } }
  @media only screen and (max-width: 31.25em) {
    .header__title {
      margin-right: 0;
      margin-left: 0;
      width: auto;
      margin-top: 5rem;
      height: 25rem; } }
  .header__title > * {
    display: block;
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6); }
  .header__title-1 {
    font-size: 5.5rem;
    font-weight: 600;
    animation: moveInBottom2 .7s ease-out backwards .05s; }
    @media only screen and (max-width: 43.75em) {
      .header__title-1 {
        font-size: calc(5.5rem * .8); } }
    @media only screen and (max-width: 31.25em) {
      .header__title-1 {
        font-size: calc(5.5rem * .65); } }
  .header__title-2 {
    font-size: 8rem;
    font-weight: 400;
    animation: moveInBottom .7s ease-out backwards;
    animation-delay: .4s;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 43.75em) {
      .header__title-2 {
        font-size: calc(8rem * .8); } }
    @media only screen and (max-width: 31.25em) {
      .header__title-2 {
        font-size: calc(8rem * .65); } }
  .header__title-3 {
    font-size: 3rem;
    font-weight: 600; }
    @media only screen and (max-width: 43.75em) {
      .header__title-3 {
        font-size: calc(3rem * .8); } }
    @media only screen and (max-width: 31.25em) {
      .header__title-3 {
        font-size: calc(3rem * .7); } }

.header__btn {
  align-self: center; }

.about-title {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 43.75em) {
    .about-title {
      margin-bottom: 6rem; } }

.paragraph__container {
  column-width: auto;
  column-count: 2;
  column-gap: 6rem;
  padding: 0px; }
  @media only screen and (max-width: 43.75em) {
    .paragraph__container {
      column-count: 1;
      padding: 0px 1.5rem; } }

.paragraph__item {
  margin: 0px 0px 3rem; }

.work__title {
  margin-left: 6.5rem;
  margin-bottom: 14rem; }
  @media only screen and (max-width: 56.25em) {
    .work__title {
      margin-left: 2rem;
      margin-bottom: 10rem; } }

.image-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  @media only screen and (max-width: 43.75em) {
    .image-text {
      flex-direction: column; } }
  @media only screen and (max-width: 43.75em) {
    .image-text--position-right {
      flex-direction: column-reverse; } }
  .image-text--position-left .image-text__content-wrapper .image-text__content-wrapper--inner .image-text__content-title {
    width: 75%;
    text-align: right; }
    @media only screen and (max-width: 43.75em) {
      .image-text--position-left .image-text__content-wrapper .image-text__content-wrapper--inner .image-text__content-title {
        width: auto;
        text-align: initial; } }
  .image-text__image-wrapper {
    flex: 1 1 0%;
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer; }
    @media only screen and (max-width: 43.75em) {
      .image-text__image-wrapper {
        flex: 1 1 auto;
        margin: 0 auto 3rem; } }
  .image-text__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease-out; }
    .image-text__image:hover {
      transform: scale(1.05); }
  .image-text__under-construction {
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: drop-shadow(0 2rem 4rem rgba(0, 0, 0, 0.5)); }
  .image-text__content-wrapper {
    flex: .8 .1 0%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
    .image-text__content-wrapper--inner {
      width: 80%;
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 43.75em) {
        .image-text__content-wrapper--inner {
          width: 100%;
          align-items: center; } }
  .image-text__content-title {
    margin-bottom: 2rem;
    width: 90%; }
    @media only screen and (max-width: 43.75em) {
      .image-text__content-title {
        width: auto; } }
    @media only screen and (max-width: 31.25em) {
      .image-text__content-title {
        margin-bottom: 1rem; } }
    .image-text__content-title h2 {
      font-size: 6rem;
      font-weight: 500; }
  .image-text__content-description {
    margin-bottom: 4rem;
    max-width: 40rem; }
  .image-text__btn-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    justify-content: space-around; }
    @media only screen and (max-width: 43.75em) {
      .image-text__btn-container {
        justify-content: center; } }
  .image-text__btn-item:link, .image-text__btn-item:visited {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 2rem; }
    .image-text__btn-item:link:not(:last-child), .image-text__btn-item:visited:not(:last-child) {
      margin-right: 1rem; }
  .image-text__btn-item:hover {
    fill: #fff; }
  .image-text__btn-item-icon {
    margin-left: .7rem;
    height: 1.5rem;
    width: 1.5rem; }

.tags__container {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 43.75em) {
    .tags__container {
      justify-content: center; } }

.tags__item {
  font-size: 1.2rem;
  font-weight: 600;
  padding: .6rem .6rem;
  border-radius: 1.2rem;
  color: #eae8eb;
  background-color: black;
  margin-bottom: .6rem; }
  .tags__item:not(:last-child) {
    margin-right: .6rem; }
  .tags__item p {
    padding: .6rem 1rem;
    border: 0.2rem dashed #eae8eb;
    border-radius: .8rem; }

.contact__title {
  margin-bottom: 8rem; }

.contact__btn-email {
  margin-bottom: 2rem; }

.contact__btn-number {
  letter-spacing: .22rem;
  margin-bottom: 9rem; }

.contact__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 14.5rem;
  margin-bottom: 3rem; }

.contact__icon-link:link, .contact__icon-link:visited {
  fill: #eae8eb;
  transition: fill .2s; }

.contact__icon-link:hover {
  fill: #ff919f; }

.contact__icon-item {
  height: 3rem;
  width: 3rem; }

.copyright {
  margin-top: 12rem; }

/**
|--------------------------------------------------
| PAGE COMPONENTS <END>
|--------------------------------------------------
*/
/**
|--------------------------------------------------
| NAVIGATION <START>
|--------------------------------------------------
*/
.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #07073d;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(7, 7, 61, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 62.5em) {
    .navigation__button {
      top: 4rem;
      right: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: #07073d;
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 62.5em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.0rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1.5rem;
  padding: 2rem 3rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  position: relative;
  font-size: 5rem;
  font-weight: 500;
  color: #eae8eb;
  text-decoration: none;
  transition: color .2s ease-in-out .05s;
  line-height: 100%; }

.navigation__link::before, .navigation__link::after {
  content: "";
  position: absolute;
  height: .4rem;
  bottom: -1rem;
  background-color: #eae8eb; }

.navigation__link::before {
  left: 0;
  width: 0;
  border-radius: .15rem;
  transition: width .2s ease-in-out .05s; }

.navigation__link::after {
  height: .4rem;
  width: .4rem;
  border-radius: 50%;
  right: 0;
  opacity: 0;
  transform: translate(-0.8rem);
  transition: opacity 0s linear .2s, transform .05s ease-out .18s; }

.navigation__link:hover {
  color: #ff919f; }
  .navigation__link:hover::before {
    background-color: #ff919f;
    width: calc(100% - .8rem); }
  .navigation__link:hover::after {
    opacity: 1;
    transform: translate(0rem);
    background-color: #ff919f; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
    height: 3px;
    background-color: #eae8eb;
    display: inline-block;
    border-radius: 1.5px; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: transform .2s; }
  .navigation__icon::before {
    top: -.9rem; }
  .navigation__icon::after {
    top: .9rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(235deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-235deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button:hover .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
  transition: all .2s; }

.navigation__checkbox:checked + .navigation__button:hover .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
  transition: all .2s; }

/**
|--------------------------------------------------
| NAVIGATION <END>
|--------------------------------------------------
*/
