/**
|--------------------------------------------------
| VARIABLES <START>
|--------------------------------------------------
*/

//-- Website colors
$color-primary: #07073d;
$color-grey: #eae8eb;
$color-pink :#ff919f;

//-- underline
$line: 1px solid rgba($color-grey, .4);

//-- Shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light: 0 2rem 5rem rgba(0,0,0, .06);

//-- Media query breakpoints
$b1600: 100em;
$b1000: 62.5em;
$b900: 56.25em;
$b700: 43.75em;
$b600: 37.5em;
$b500: 31.25em;
$b400: 25em;
$b360: 22.5em;

/**
|--------------------------------------------------
| VARIABLES <END>
|--------------------------------------------------
*/



/**
|--------------------------------------------------
| ANIMATIONS <START>
|--------------------------------------------------
*/

//--- Custom AOS Animations <START> ---//
[data-aos="fade-in-up"] {
  opacity: 0;
  transform: translateY(1.5rem);
  transition-property: opacity, transform;
  transform-origin: 0 100%;
  
  &.aos-animate {
    opacity: 0;
    transform: translateY(0);
  }
}
//--- Custom AOS Animations <END> ---//


//--- Main Title Animation <START> ---//
[data-aos="line-before"] {
  width: 0;
  transition-property: width;

  &.aos-animate {
    width: calc(100% - .9rem);
    @media only screen and (max-width: $b500) {
      width: calc(100% - .6rem);
    }
  }
}

[data-aos="line-after"] {
  opacity: 0;
  transform: translate(-.8rem);

  &.aos-animate {
    opacity: 1;
    transform: translate(0rem);
  }
}
//--- Main Title Animation <END> ---//


//--- Work Image <START> ---//
[data-aos="clip-path--left"] {
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  transform: scaleX(.85);
  transform-origin: left;
  
  &.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scaleX(1);    
  }
}

[data-aos="clip-path--right"] {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  transform: scaleX(.85);
  transform-origin: right;
  
  &.aos-animate {
    transform: scaleX(1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
//--- Work Image <END> ---//


//--- animated line <START> ---//

[data-aos] {
  body[data-aos-easing="line-ease"] &,
  &[data-aos][data-aos-easing="line-ease"] {
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
}

[data-aos="line-down"] {
  height: 0;
  transition-property: height;

  &.aos-animate {
    height: 9.5rem;
    @media only screen and (min-height: $b700) {
      height: 14.5rem;
    }
  
  
    // @media only screen and (max-height: $b500) {
      // height: calc(100% - .6rem);
    // }
  }
}
//--- animated line <END> ---//


//--- Keyframes Animations <START> ---//
@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(1.5rem);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes moveInBottom2 {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes nudge {
  0% {
      transform: translateY(0);
  }

  100% {
      transform: translateY(-.5rem);
  }
}
//--- Keyframes Animations <END> ---//

/**
|--------------------------------------------------
| ANIMATIONS <END>
|--------------------------------------------------
*/