//--- FONTS <start> ---//
@font-face {
  font-family: "MTTMilano";
  src: url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_1_0.eot?#iefix") format("embedded-opentype"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_1_0.woff2") format("woff2"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_1_0.woff") format("woff"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_1_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

  @font-face {
    font-family: "MTTMilano";
    src: url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_0_0.eot?#iefix") format("embedded-opentype"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_0_0.woff2") format("woff2"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_0_0.woff") format("woff"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_0_0.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
  font-family: "MTTMilano";
  src: url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_4_0.eot?#iefix") format("embedded-opentype"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_4_0.woff2") format("woff2"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_4_0.woff") format("woff"), url("https://d3kbi7897jm3al.cloudfront.net/fonts/340645_4_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
//--- FONTS <end> ---//


//--- BASE SETTINGS <start> ---//
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
 box-sizing: border-box;
 font-size: 62.5%; // 1rem = 10px // 10px/16px = 62.5%
  
  @media only screen and (max-width: $b1000) {
    font-size: 60%;
  }

  @media only screen and (max-width: $b900) {
    font-size: 56.25%;
  }

  @media only screen and (min-width: $b1600) {
    font-size: 80%;
  }
}

body {
  font-family: "MTTMilano", sans-serif;
  font-size: 1.8rem;
	font-weight: 400;
  line-height: 1.5;
  color: $color-grey;
  background-color:  $color-primary;
  
  //testing
  min-height: 100vh;
}
//--- BASE SETTINGS <END> ---//





