/**
|--------------------------------------------------
|  Global
|--------------------------------------------------
*/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
  // testing
  // min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 81.8rem;
}


/**
|--------------------------------------------------
|  Header
|--------------------------------------------------
*/

.header {
  height: 100vh;
  padding: 4rem 4.5rem 4rem;
  position: relative;	
  background: linear-gradient(to bottom right, rgba($color-primary, .7), rgba($color-primary, .4));
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media only screen and (max-width: $b900) {
    padding: 10rem 3.5rem 5rem;
  }
  @media only screen and (max-height: $b600) {
    height: initial;
  }
  
  &__container {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    
    @media only screen and (max-width: $b1000) {
      width: 82%;
    }

    @media only screen and (max-width: $b600) {
      width: 100%;
    }

    @media only screen and (max-height: $b600) {
      padding-bottom: 6rem;
    }  
  }
}

/**
|--------------------------------------------------
|  About
|--------------------------------------------------
*/

.about {
  padding: 15rem 4.5rem 16.5rem;
  
  @media only screen and (max-width: $b700) {
    padding: 13rem 3.5rem 12rem;
  }
  @media only screen and (max-width: $b400) {
    padding: 13rem 1.5rem 12rem;
  }

  &__container {
  }
}

/**
|--------------------------------------------------
|  Work
|--------------------------------------------------
*/

.work {
  padding: 15rem 4.5rem;
  background-color: #fff;
  color: black;
  
  @media only screen and (max-width: $b700) {
    padding: 15rem 2.5rem;
  }

  @media only screen and (max-width: $b500) {
    padding: 13rem 1.5rem 12rem;
  }

  &__container {
    max-width: 95rem;
  }

  &__item {
    // min-height: 50rem; // testing
    &:not(:last-child) {
      margin-bottom: 10rem;
      // margin-bottom: 3rem; // media query
    }
  }
}

/**
|--------------------------------------------------
|  Contact
|--------------------------------------------------
*/

.contact {
  padding: 10rem 4.5rem 13rem;
  min-height: 100vh;
  justify-content: center;

  @media only screen and (max-height: $b600) {
    min-height: initial;
  }  

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}